* {
  color: #5d9b9b;
  
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #e5e5e5;
  margin: 0;
  width: 100%;
  height: 10000px;
}

p {
  font-style: italic;
}

header {
  position: fixed;
  display:block;
  left: 0;
  right: 0;
}

.parte_verde {
  height: 80px;
  background-color: #5d9b9b;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
}

.parte_verde img {
  width: 200px;
}

#entrar {
  width: 100px;
  height: 30px;
  border: 1px solid white;
  border-radius: 9px;
  display: flex;
  background: #5d9b9b;
  color: white;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  
}

#entrar a {
  color: white;
  font-weight: bold;
  position: relative;
  margin: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#cadastrar {
  width: 100px;
  height: 30px;
  background-color: white;
  border: 2px solid white;
  border-radius: 7px;
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}

#cadastrar a {
  color: #5d9b9b;
  font-weight: bold;
  position: relative;
  margin: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#barra_pesquisa input {
  width: 700px;
  height: 25px;
  background: url(/imagens/mdi_search.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-color: white;
  border-radius: 10px;
  border: none;
}

.parte_branca {
  display: flex;
  height: 50px;
  background-color: white;
  align-items: center;
  margin: auto;
}

.filtro {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-evenly;
  color: #5d9b9b;
  z-index: 1;
}

#filtro img {
  width: 47px;
  height: 35px;
}

#options {
  height: 600px;
  width: 200px;
  background-color: #fff;
  border-right: 1px solid #ccc !important;
  z-index: 1;
  overflow: auto;
  position: relative;
}

#categoria {
  width: 50px;
  height: 20px;
  color: #5d9b9b;
  display: block;
  padding: 8px 16px;
  text-align: left;
}



#close {
  width: 100%;
  height: 30px;
  color: #5d9b9b;
  background-color: rgb(239, 239, 239);
  border: 0;
}

#carrossel{
  display: flex;
  margin: auto;
  align-items: center;
  
  justify-content: center;
  width:100%;
  padding-top:160px;
}

#carrossel input{
  width: 1px;
  background-color: #e5e5e5;
  border:none;
}

#prev{
  background: url(/imagens/arrow-right-circle.png);
  background-repeat: no-repeat;
  width:70px;
  height:70px;
}
#next{
  background: url(/imagens/arrow-left-circle.png);
  background-repeat: no-repeat;
  width:70px;
  height:70px;
}

.perfis{
  width: 100px;
  height: 100px;
  background-color:white;
  display:flex;
  
}
